<div class="container">
<div class="row">
  <div class="col-md-6">

    <div *ngIf="(cart?.products?.length ?? 0) > 0" class="container mt-5">
      <h3>Your Shopping Cart</h3>
      <div class="list-group">
        <div class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let item of cart?.products">
          <!-- Cart Item Image -->

          <div class="d-flex align-items-center">
            <img [src]="item.image" alt="{{ item.name }}" (error)="item.image = '/placeholder.png'" class="img-fluid"
              style="width: 60px; height: 60px;
        object-fit: cover; border-radius: 5px;">
          </div>

          <!-- Product Details -->
          <div class="ms-3">
            <div>{{ item.name }}</div>
            <div class="text-muted">{{ item.price | currency }}</div>

            <!-- Quantity Input -->
            <div class="d-flex align-items-center">
              <label for="quantity-{{ item.product_id }}" class="me-2">Amount:</label>
              <input id="quantity-{{ item.product_id }}" type="number" [(ngModel)]="item.quantity"
                (ngModelChange)="updateQuantity(item)" class="form-control" min="1" style="width: 80px;">
            </div>
          </div>

          <!-- Remove Button -->
          <button class="btn btn-danger" (click)="removeFromCart(item.product_id)">
            <i class="bi bi-trash"></i> Remove
          </button>
        </div>
      </div>

      <div class="mt-4 d-flex justify-content-end">
        <div class="fw-bold">
          <span>Total: </span>
          <span>{{ total | currency }}</span>
        </div>
      </div>

    </div>

    <!-- Empty Cart Message -->
    <div *ngIf="cart?.products?.length === 0" class="text-center mt-5">
      <h4>Your cart is empty.</h4>
    </div>
  </div>
  <div class="col-md-6">
    <app-checkout-form *ngIf="(cart?.products?.length ?? 0) > 0"></app-checkout-form>
  </div>
</div>
</div>
